html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: 'Roboto', sans-serif !important;
}

body {
      background-image: url("glitch.gif") !important;
      background-size: cover;
      overflow-x: hidden;
}


.logo {
      line-height: 40px;
      float: left;
      margin: 1.2em 0 0 2.2em;
      font-weight: bolder;
      color: #fff;
      letter-spacing: 12px;
}

.nav {
      line-height: 40px;
      margin: 1.2em;
      position: absolute;
      right: 0;
}

.nav ul li {
      list-style: none;
      display: inline-block;
      color: #fff;
      padding-right: 36px;
      
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
}
.nav ul li a:hover{
    color: #76ff03;
    text-decoration: none;
    cursor: pointer;
}

.social-media {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
}

.social-media ul li {
      list-style: none;
      color: #fff;
      padding-top: 20px;
}

.side-strip {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -3.5em;
      transform: rotate(90deg);
      color: #fff;
      letter-spacing: 4px;
}

.header {
      position: absolute;
      top: 40%;
      left: 40%;
      transform: translate(-50%, -50%);
}

.header h1 {
      color: #76ff03;
      font-weight: bolder;
}

.header p {
      color: #fff;
      font-weight: lighter;
}

.header button {
      margin-top: 12px;
      border: none;
      padding: 16px 40px;
      background: #fff;
      color: #000;
      letter-spacing: 4px;
      font-weight: 600;
      font-size: 14px;
}

.bottom-bar {
      color: #fff;
      position: absolute;
      bottom: 80px;
      left: 0;
      right: 0;
}

.row {
      /* padding: 2.6em 2.6em 2em 2.6em; */
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      left: 60%;
}

.bottom-bar h6 {
      font-weight: bolder;
      text-transform: uppercase;
}

.bottom-bar p {
      font-size: 16px;
      font-weight: lighter;
}

.overlay {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(to right, #000000, #434343);
      top: 0%:
}

.overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      font-weight: bolder;
      letter-spacing: 15px;
      color: #76ff03;
}

@media only screen and (max-width: 1000px){
    .overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 4px;
      color: #76ff03;
    }
    
      .logo{
            display: none;
      }
      .header{
            top: 32%;
            width: 100%;
            left: 60%;
      }
      .header p{
            margin-right: 12%; 
              font-size: 14px;
      }
      span{
            display: none;
      }
      #initialize{
            /* background-color: orange; */
            top: 0.5em;
            left: 1.7em;
      }
    #initialize p{
        font-size: 14px;
    }
      #sfpc{
            top: 1em;
            left: 1.7em;
      }
    #sfpc p{
        font-size: 14px;
    }
      .social-media ul{
            padding-left: 0.5em;
      }
      .nav{
            margin: 0px;
            /* background-color: orange; */
            padding: 0px;
            left: 0px;
            top: 5px;
      }
      .header button{
            margin-top: 2px;
      }
}

@media only screen and (max-width: 400px){
    .overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      font-weight: bolder;
      letter-spacing: 3px;
      color: #76ff03;
    }
      .logo{
            display: none;
      }
      .header{
            top: 38%;
            width: 100%;
            left: 63%;
      }
      h1{
          
            margin-bottom: 0;
      }
      .header p{
            /* background-color: red; */
            display: inline-block;
            margin-right: 20%;
          font-size: 12.5px;
      }

      span{
            display: none;
      }
      #initialize{
            top: 8em;
            left: 1.7em;
            margin-right: 14%;
      }
    #initialize p{
        font-size: 12px;
    }
      #sfpc{
            top: 9em;
            left: 1.7em;
            margin-right: 14%;

      }
    #sfpc p{
        font-size: 12px;
    }
      .social-media ul{
            padding-left: 0.5em;
      }
      .nav{
            /* margin: 0px; */
            /* background-color: orange; */
            /* padding: 0px; */
            left: 7%;
            top: 5px;
      }
      .nav li{
            padding-right: 20px !important;
      }
      ul{
            padding-left: 20px;
      }
      .header button{
            margin-top: 2px;
      }
} 
